@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 23, 23, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.font-nunito {
  font-family: "Nunito Sans", sans-serif;
}

.bonjour-div {
  animation: bonjour-div 1s linear forwards;
  animation-delay: 5s;
  display: grid;
  place-items: center;
}

.bonjour-text {
  animation: bonjour-text 5s ease-in forwards;
}

.gradient-shadow {
  animation: gradient-shadow 300ms ease-in;
  box-shadow:
    0 0 6px rgba(255, 255, 0, 0.8),
    0 0 8px rgba(186, 85, 211, 0.8),
    0 0 10px rgba(0, 0, 139, 0.8);
}

.image-grow {
  animation: image-grow 200ms ease-in;
  transform: scale(1);
}

@keyframes bonjour-div {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes bonjour-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes gradient-shadow {
  from {
    box-shadow: none;
  }

  to {
    box-shadow:
      0 0 6px rgba(255, 255, 0, 0.8),
      0 0 8px rgba(186, 85, 211, 0.8),
      0 0 10px rgba(0, 0, 139, 0.8);
  }
}

@keyframes image-grow {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}
